
#divmain1 {
    display: flex;
    height: 10px;
    justify-content:flex-end;
    margin-left: 80px;
    gap: 100px;
    margin-bottom: 300px;
    

}

#divmain8>button{
    color: white;
    background-color: black;
}
#divmain1{
    font-size: 30px;
}
#divmain1>a{
    margin: 10px;
    text-decoration: none;
    
}
#divmain2 {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 150px;
    gap: 80px;

} 

#divmain3{
    display: flex;
    justify-content: center;
    font-size: larger;
    text-align: center;
    margin-right:300px;
    margin-top: 10px;
    gap: 100px; 
    margin-bottom: 70px;

}

#divsub{
        height: 20vh;
        background-color: rgb(242, 241, 238);
        border-radius: 20px;
        
        
}

img{
     height: 25vh;
    transform: translateY(-15vh);
}

#sub7{
    background-color: rgb(14, 10, 2);
    color: white;
    justify-content: flex-end;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    margin-left: 480px;
    

}

#divmain5{
        transform: rotate(-90deg)
}
     


    

